body {
    background-image: url("../img/space.jpg");
    color: white;
}

.card {
    width: 10rem;
    height: 100%;
    background-color: black;
}

.card-img-top {
    height: 100%;
    object-fit: contain;
}