body {
    background-image: url("../img/space.jpg");
    color: white;
}

.card {
    width: 10rem;
    height: 100%;
    background-color: black;
    margin-right: 30px;
}

.pselect:hover  {
    border: 2px solid rgb(12, 177, 12);
}

.dead {
    background-color: black;
    opacity: 0.5;
}

.eselect:hover {
    border: 2px solid red;
}

.card-img-top {
    height: 100%;
    object-fit: contain;
}